.card-item img{
    padding-top: 10px;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  
  }
  
  .contenido {
    border: none;
  }
  
  .card-text {
    padding-left: 10px; /* Add padding to the left side */
    padding-right: 10px; /* Add padding to the right side */
  }
  