.Services {
  background: url("https://img.freepik.com/foto-gratis/alto-angulo-boy-silla-libro_23-2148469960.jpg?t=st=1721904332~exp=1721907932~hmac=c7f8f994cae0a65c2b9591b131e0e1fdab9e71a93f00e0cda78ab4bf4113776a&w=740") no-repeat center;
  background-size: cover; /* Ensure image covers entire area */
  position: relative; /* Optional: for potential layering issues */
}
.fundation{
  background: rgb(255, 255, 255);
}

.AboutUs {
  background: rgb(255, 255, 255);
}
.Card {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 18rem;
  background:rgba(243, 243, 243, 0.274);
  backdrop-filter: blur(5px);
  font-family: "Kalam", cursive;
  color: rgb(0, 46, 99);
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 0px 1px 10px rgba(0, 0,0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.card:hover{
  box-shadow: 5px 5px 20px rgba(0, 0,0, 0.5);
  transform: translateY(-2%);
}

.btn:hover{
  background:rgb(0, 46, 99);
  color: white;
}

.card-item{
  border: solid gray 1px;
  background: rgba(255, 255, 255,0.2);
  border-radius: 20px;
  backdrop-filter:blur(5px) ;
}

.card-body {
  display: flex; /* Activar Flexbox */
  flex-direction: column; /* Dirección de la flexión: vertical */
  align-items: center; /* Alinear horizontalmente en el centro */
  justify-content: center; /* Alinear verticalmente en el centro */
  text-align: justify;
}

.card-item img{
  padding-top: 10px;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;

}

.contenido {
  border: none;
}

.card-text {
  padding-left: 10px; /* Add padding to the left side */
  padding-right: 10px; /* Add padding to the right side */
}

