.content-wrapper{
    padding: 0 500px
}

.contact-wrapper{
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    border-radius: 10px;
    border:none !important;
    box-shadow: 0 2px 10px rgb(0, 0, 0);
    background-color:#F0F0F0
}

.avatar { 
    height: 150px;
    width: 150px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .3rem solid rgb(0, 0, 0);
}

.avatar > .svg {/*In case we want to add in the future the opcion of selecting type of background*/
    height: 100%;
    width: 100%;
    transform: translateY(20px);
    color: rgb(0, 0, 0);
}

.avatar-letters {
    background-color: inherit;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-family: 'Karla', sans-serif;
}

@media screen and (max-width: 1600px){
    .content-wrapper{
        padding: 0 300px
    }
}

@media screen and (max-width: 1200px){
    .content-wrapper{
        padding: 0 100px
    }
}

@media screen and (max-width: 759px){
    .content-wrapper{
        padding: 0 100px
    }

    .contact-wrapper{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0 2px 10px rgb(0, 0, 0);
    }

    .avatar{
        align-self: center;
    }
}

@media screen and (max-width: 539px){
    .content-wrapper{
        padding: 0
    }
}
