.wrapper {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items:start;
  gap:20px;
}

.userCard{
  flex-basis:40%;
  height:130px
  /* align-self: start; */
}

.input{
  width:50%;
  font-size: 30px;
  border-radius:5px;
  padding: 10px 10px;
  border: 1px solid #cdcecf;
  text-align: center;
  margin-bottom:15px
}

.input:focus{
  outline:none;
}

.link{
  position:relative;
  text-decoration: none;
  background: #ffffff70;
  border-radius: 10px;
  color:black;
  transition-property: all;
  transition-duration: 0.3s;
  box-shadow: 0 1px 10px rgb(133, 133, 133);
}

.link:hover{
  color:black;
  box-shadow: 0 1px 10px rgb(240, 101, 101);
  background: rgb(241, 66, 66);
}

.eyes{
  position:absolute;
  opacity: 0;
  top:0;
  right:10px;
  transition-property: opacity;
  transition-duration: 0.5s;
  font-size: 20px
}

.link:hover > .eyes{
  opacity:100;
}
