.card, .planets {
    margin: 10px;
    width: 300px;
}
h4 {
    color: orangered;
}
.fa-heart {
    float: right;
    border: solid 2px blue;
    padding: 5px;
    color: orangered;
}

.deselect {
    float: right;
    border: solid 2px orangered;
    background-color: orangered;
    padding: 5px;
    color: white;
}

.card-group-custom {
    overflow-x: scroll;
}