/* 
    General Styles
*/


/* CSS */

body {

  background-image: url("https://p4.wallpaperbetter.com/wallpaper/955/69/70/minimalism-space-stars-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

#button-91 {
  margin: 20px;
  color: #fff;
  padding: 15px 25px;
  background-color: #a59d30;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}

.scroll {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 10px;
  background-color: transparent;
}

.card {
  width: auto;
  border-radius: 10px;
  margin: auto;
  background-color: rgb(53, 46, 46);
  border-width: thin;
}

p {
  color: #fff;
}

li {
  display: list-item;
  text-align: end;
  justify-content: end;
  background-color: #a59d30;
}

.dropdown-menu[data-bs-popper] {
  top: 100%;
  left: auto;
  margin-top: 0.125rem;
  background-color: #a59d30;

}

.card,
.card-img {
  width: 100%;
}