.Question{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
} 

.question{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}